.main {
    font-family: 'Courier New', Courier, monospace;
}

.center-vertical {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
}

.center-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 4px;
}

.card {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    overflow-x: auto;
}

.spacer-10 {
    height:10px;
}

.spacer-20 {
    height:20px;
}

.spacer-40 {
    height:40px;
}

.cookie-table {
    width: 100%;
}